{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<h2>Bienvenue Dans Votre Profil Chère Chauffeur</h2>
	<div class="container-fluid profil  ">
		<div class="row  justify-content-center   ">
			<fieldset class="col-sm-12 col-md-3   ">
				<div class="cardh-100"></div>


			</fieldset>

		</div>

	</div>
{% endblock %}
