{% extends 'base.html.twig' %}

{% block title %}Services
{% endblock %}

{% block body %}


	<!-- Services start -->
	<section id="services" class="container ">
		<div class="row">
			<div class=" title d-flex justify-content-center">
				<h1 class="service-title">
					Customer Services
				</h1>
			</div>


			<!-- Service Box start -->
			<div class="col-md-6  cardCustom ">
				<div class="service-box wow fadeInLeft" data-wow-offset="100">
					<h1>
						<i class="bi bi-plus-square-fill plusCustom "></i>
					</h1>
					<h3 class="service-title">
						Hassle-Free Booking Experience:</h3>
					<div class="clearfix"></div>
					<p class="service-content">
						Our  platform is designed to make your life easier. With a seamless booking process, you can reserve your ride in just a few clicks. Enjoy stress-free planning with our user-friendly interface and save time when arranging your transportation.</p>
				</div>
			</div>
			<!-- Service Box end -->

			<!-- Service Box start -->
			<div class="col-md-6  cardCustom ">
				<div class="service-box wow fadeInRight" data-wow-offset="100">
					<h1>
						<i class="bi bi-plus-square-fill plusCustom"></i>
					</h1>
					<h3 class="service-title">Clear Pricing and Competitive Rates</h3>
					<div class="clearfix"></div>
					<p class="service-content">We pride ourselves on offering transparent and competitive pricing for our  services. Review our rates upfront to find the best option for your budget, with no hidden fees or surprises and ensuring you get the best value for your money.</p>
				</div>
			</div>
			<!-- Service Box end -->

			<!-- Service Box start -->
			<div class="col-md-6  cardCustom">
				<div class="service-box wow fadeInLeft" data-wow-offset="100">
					<h1>
						<i class="bi bi-plus-square-fill plusCustom"></i>
					</h1>
					<h3 class="service-title">Expert Drivers for Your Safety and Comfort</h3>
					<div class="clearfix"></div>
					<p class="service-content">Our top priority is the safety and comfort of our clients. We handpick our drivers for their professionalism, experience, and in-depth knowledge of roads. Rest assured knowing you're in good hands with our trained drivers, who are dedicated to providing top-notch service and accommodating your needs.</p>
				</div>
			</div>
			<!-- Service Box end -->

			<!-- Service Box start -->
			<div class="col-md-6  cardCustom">
				<div class="service-box wow fadeInRight" data-wow-offset="100">
					<h1>
						<i class="bi bi-plus-square-fill plusCustom"></i>
					</h1>
					<h3 class="service-title">Tailored Services to Suit Your Needs</h3>
					<div class="clearfix"></div>
					<p class="service-content">Discover our range of customized services designed to cater to your specific requirements. We offer added conveniences such as child seats, vehicles for individuals with reduced mobility, and VIP services for an elevated travel experience. Choose our  platform and enjoy a personalized, comfortable, and reliable service.</p>
				</div>
			</div>
			<!-- Service Box end -->

		</div>
	</section>
	<!-- Services end -->


{% endblock %}
