{%extends "@EasyAdmin/page/content.html.twig"%}

{% block content %}
	<div>
		<h2>Bienenue au sien de l'administration du site VTCSN
		</h2>
		<a class="btn btn-danger btn-lg " href="{{path('app_main')}}">Retour à l'accueil</a>
	</div>
{% endblock %}
